.text-area-container {
	display: flex;
	flex-direction: column;
	height: 88px;
	gap: 4px;
}

.text-area-input {
	font: normal 1.4rem/2rem sans-serif;
	border: 1px solid #72777d;
	border-radius: 2px;
	padding: 4px 8px;
	width: 100%;
	height: 64px;
	gap: 8px;
	resize: vertical;
	color: #202122;
}

.text-area-input:focus-visible {
	outline: 0;
}

.text-area-input::placeholder {
	color: #72777d;
}

@media screen and ( min-width: 1200px ) {
	.text-area-input:focus-visible {
		outline: 1px solid #36c;
	}
}
