.banner-wrapper {
	width: 100%;
	padding: 24px;
	z-index: 100;
	overflow: auto;
}

.banner {
	position: relative;
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-inline: auto;
	transition: 0.5s all ease-in-out;
}

.banner:has( a:focus ) {
	outline-offset: 2px;
	outline: 2px solid #36c;
}

.banner:focus,
.banner-text:focus,
.banner-image:focus {
	outline: 3px solid #233566;
	outline-offset: 3px;
	border-radius: 2px;
}

.banner-link {
	display: block;
	width: 100%;
	height: 100%;
}

.banner-text {
	position: absolute;
	color: #fff;
	letter-spacing: 0.01em;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.banner-bg-image-overlay {
	position: absolute;
	z-index: 0;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2021226c;
}

.banner-image {
	display: block;
	position: absolute;
	object-fit: cover;
	object-position: center;
}

.close-banner-btn {
	position: absolute;
	z-index: 10;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #202122;
}

.mode-btn {
	display: flex;
	gap: 4px;
	margin-inline: auto;
	margin-block-start: 12px;
	font: 500 1.4rem/1 sans-serif;
	color: #36c;
	border-width: 0;
}

.selected {
	border-radius: 1px;
}

.banner.selected {
	outline: 2px solid #36c;
	outline-offset: 2px;
}

.banner-text.selected {
	outline: 2px solid #36c;
	outline-offset: 2px;
	background-color: rgba( 51, 102, 204, 0.1 );
}

.banner-image.selected {
	outline: 2px solid #36c;
	outline-offset: 2px;
}

.edit .banner,
.edit .banner-text,
.edit .banner-image {
	cursor: pointer;
}

.banner-error-message {
	margin: 12px auto auto auto;
}

/* ===== DESELECT BUTTON ===== */
.deselect-btn {
	position: fixed;
	padding: 12px;
	border-radius: 50%;
	width: fit-content;
	height: fit-content;
	inset: 0;
	margin: auto auto 8px auto;
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
}

.deselect-btn:hover {
	background-color: #f2f3f4;
}

/* ============================== MEDIA QUERIES ============================== */

@media screen and ( min-width: 1200px ) {
	.banner-wrapper {
		padding: 24px 44px;
	}
}
