.section-header {
	gap: 4px;
}

.section-heading-wrapper {
	display: flex;
	gap: 8px;
	border-bottom: 1px solid #a2a9b1;
	padding-bottom: 4px;
}

.section-heading {
	font: normal 2.8rem/3.5rem 'IbarraRealNova', 'Georgia', 'Times New Roman', 'Times', serif;
}

.section-subtext {
	font: normal 1.4rem/2.2rem sans-serif;
	color: #54595d;
}
