/* ============================== SELF HOSTED FONTS ==============================  */
@font-face {
	font-family: 'Alegreya';
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
	src: url( /fonts/alegreya-variable.ttf ) format( 'truetype' );
}

@font-face {
	font-family: 'Bangers';
	font-display: swap;
	font-style: 400;
	font-weight: normal;
	src: url( /fonts/bangers-regular.ttf ) format( 'truetype' );
}

@font-face {
	font-family: 'Fraunces';
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
	src: url( /fonts/fraunces-variable.ttf ) format( 'truetype' );
}

@font-face {
	font-family: 'IbarraRealNova';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url( /fonts/ibarra-real-nova-variable.ttf ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
	src: url( /fonts/roboto-variable.ttf ) format( 'truetype' );
}

/* ============================== RESET ============================== */
*,
*::before,
*::after,
h1,
h2,
h3,
h4,
p,
a,
input,
button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	background: none;
}

a,
button,
input {
	outline-color: #36c;
}

.heading {
	font-family: 'Bangers', 'Arial', 'Helvetica', sans-serif;
}

/* ============================== GENERAL STYLES ==============================  */

:root {
	font-size: 10px; /* ROOT FONT SIZE CONVERTED TO 10PX FOR EASIER PIXELS TO REM CONVERSIONS  example; 32px = 3.2rem */
}

button,
a,
input[ type='radio' ] {
	cursor: pointer;
}

input[ type='number' ] {
	-moz-appearance: textfield;
	appearance: none;
}

input[ type='number' ]::-webkit-inner-spin-button,
input[ type='number' ]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* ============================== UTILITY CLASSES ==============================  */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-y {
	display: flex;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-none {
	flex: none;
}

.desktop-only {
	display: none;
}

.mobile-only {
	display: flex;
}

.mobile-tablet-only {
	display: flex;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect( 0, 0, 0, 0 );
	white-space: nowrap;
	border-width: 0;
}

.rotate-180 {
	transform: rotate( 180deg );
}

.form-label {
	font: bold 1.4rem/2rem sans-serif;
	color: #202122;
}

.form-input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.disabled {
	opacity: 0.2;
}

.transition-opacity-300-ease {
	transition: 0.3s opacity ease;
}

/* ============================== MEDIA QUERIES ==============================  */

@media screen and ( min-width: 720px ) {
	.mobile-only {
		display: none;
	}
}

@media screen and ( min-width: 1200px ) {
	.desktop-only {
		display: flex;
	}

	.mobile-tablet-only {
		display: none;
	}
}
